<!DOCTYPE html>
<html>
    <head>
        {% include ('v2/Modules/head.twig') %}
    </head>
    <body>
        <h1 class="mb-4 home-text" style="text-align:center">404 - Not Found</h1> <div class="col-lg-4" style="margin: auto;"> <p class="catalog-card" style="text-align: center;">Are you going the wrong way?</p>
        <img src="/s/img/{{ random(1..6) }}.png">
        <p style="text-align: center;"><a href="/" class="btn btn-primary btn-lg mt-3 mr-2">Front Page ›</a></p>
    </body>
</html>