<html>
  <head>
    {% include ('v2/Modules/head.twig') %}
  </head>
  <body>
    <div id="app">
      {% include ('v2/Modules/nav.twig') %}
	  <div class="container">
		  <h1>Welcome to Finobe.</h1>
		  <p>If you're new here, this is Studio, You can click File > Publish to create or update a place.</p>
	  </div>
    </div>
    {% include ('v2/Modules/footer.twig') %}
  </body>
</html>