/.phpunit.cache
/node_modules
/public/build
#/public/storage
#/public/s
#/public/scss
#/public/sprites
#/public/svgs
#/public/webfonts
#/public/api
#/public/fonts
#/public/dynamic
/storage/*.key
/storage/pail
/storage/rbx/files/privateKey1024.pem
/storage/rbx/files/publicKeyBlob1024.txt
/vendor
.env
.env.backup
.env.production
.htaccess
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.log
storage/setup/*.zip
