<html>
   <head>
      {% include ('v1/Modules/head.twig') %}
   </head>
   <body>
      <div id="app main-content">
         {% include ('v1/Modules/nav.twig') %}
         <div class="container mt-5 mb-5 "><div class="container"><div class="card"><div class="card-header bg-danger text-light text-center">Error</div> <div class="card-body text-center"><img src="/s/img/cry.svg" class="img-fluid mt-4 mb-0 text-center"> <h3 class="font-light mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This page hasn't been created</font></font></h3> <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If you would like to show the original page of this join our Discord server</font></font></p> <div class="mt-4"><a href="/" class="btn btn-theme btn-lg mr-2">Home ›</a> <a href="/forum" class="btn btn-primary btn-lg">Forum ›</a></div></div></div></div></div>
      </div>
      {% include ('v1/Modules/footer.twig') %}
   </body>
</html>