<div class="footer">
   <div class="container">
      <p class="no-tb-margin"><b>Copyright © Aesthetiful 2017</b> | <b>Codename:</b> Pei Ho Street</p>
      <p class="no-tb-margin"><a href="/legal/rules">Rules</a> | <a href="/legal/privacy">Privacy</a> | <a href="mailto:support@aesthetiful.com">E-mail Support</a></p>
   </div>
</div>